:root {
  --black: #1F1F1F;
  --green: #259136;
  --green-light: #2EC046;
  --white: #FFFFFF;
  --icon-bg: #6D6D6D;
  --icon-bg-hover: #2EC046;
  --pagination-circle: rgba(255, 255, 255, 0.5);
  --work-step-bg: rgba(255, 255, 255, 0.1);
  --work-step: rgba(255, 255, 255, 0.5);
  --owl-dot: rgba(0, 0, 0, 0.5);
;
}

body {
  color: var(--white) !important;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(90deg, #455A64 0.01%, rgba(31, 31, 31, 0.85) 99.99%, rgba(255, 255, 255, 0) 100%);
}

/*#region section*/

.section {
  /*background: linear-gradient(90deg, #455A64 0.01%, rgba(31, 31, 31, 0.85) 99.99%, rgba(255, 255, 255, 0) 100%);*/
}

.section-title {
  font-weight: 800;
  font-size: 72px;
  line-height: 90px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.section-title_green {
  color: var(--green-light);
}

.section-title-underline {
  border-bottom: 4px solid var(--white);
}

.section-content {
  display: flex;
}

.lane {
  position: absolute;
  top: 16%;
  width: 100%;
  height: 110%;

  background-repeat: no-repeat;
  background-image: url('./public/images/lane.png');
}

/*#endregion section*/

/*#region presentation-section*/
.presentation-section {
  background-image: url("public/images/BG 1.png");
  background-size: cover;
}

.presentation-section-container {
  max-width: 1480px;
  margin: auto;
  display: flex;
}

.presentation-section__logo {
  padding-top: 50px;
  background: linear-gradient(94.44deg, #2EC046 31.65%, #259136 70.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation-section__contacts {
  flex-direction: column;
  display: flex;
}

.presentation-section__about {
  justify-content: space-between;
  align-items: center;
}

.presentation-section__about-description {
  z-index: 2;
  padding-bottom: 100px;
}

.presentation-section__about-phone {
  z-index: 2;
}

.presentation-section__hr {
  background-color: var(--white);
  height: 3px;
}

.presentation-section__btn {
  margin-top: 90px;
  padding: 5px 30px 7px 30px !important;
  color: var(--white) !important;
  border: 4px solid green !important;
  border-radius: 40px !important;
  background-color: transparent;
  font-style: normal;
  font-size: 28px;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 991px) {
  .presentation-section__about-phone {
    max-width: 300px;
  }
  .presentation-section__about-description {
    margin-bottom: 0px;
  }
  .lane {
    bottom: 11%;
    top: unset;
  }
}

.why-we-container > h2 {
  display: inline;
  text-align: right;
}

@media (min-width: 576px) {
  .mobile-title {
    display: none;
  }

  .presentation-section__about-description {
    margin-bottom: 0px !important;
  }

  .mobile-presentation-img {
    display: none;
  }

  .footer-mobile {
    display: none !important;
  }

  .presentation-section-container-mobile {
    display: none;
  }
}

@media (max-width: 576px) {
  .presentation-section__about-phone {
    display: none;
  }

  .footer-desktop {
    display: none !important;
  }

  .how-to-wind-us {
    padding-top: 10px !important;
  }

  .how-find-us-container {
    margin-top: 10px !important;
  }

  .desktop-presentation-desc {
    display: none;
  }

  .mobile-presentation-img {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .presentation-section-container {
    display: none !important;
  }

  .owl-stage-outer {
    margin-bottom: 10px !important;
  }

  .why-we-container {
    margin-top: 10px !important;
  }

  .presentation-section__hr {
    display: none;
  }

  .swing {
    display: none;
  }

  .presentation-section-container {
    text-align: center;
    justify-content: center;
  }

 .presentation-section__btn {
   margin-top: 10px;
 }

  .presentation-section__contacts {
    display: none;
  }

  .presentation-section-container > h1 {
    width: 100%;
    margin-bottom: 40px;
  }

  .lane {
    display: none;
  }

  .why-we-container {

  }

  .why-we-container > div > h2 {
    width: 100%;
  }

  .desktop-title {
    display: none !important;
  }

  .mobile-title {
    width: 100%;
    text-align: center;
  }

  .how-we-work-container {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
  }

  .owl-dots {
    display: none !important;
  }

  .our-services-container {
    padding-top: 0px !important;
  }
}

/*#endregion presentation-section*/

.icon:hover {
  filter: invert(65%) sepia(14%) saturate(4629%) hue-rotate(81deg) brightness(97%) contrast(72%);
}

.contact-info {

}

.social {

}

/*#region footer*/
.footer-desktop {
  background-color: var(--black);
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.footer-mobile {
  background-color: var(--black);
}

.footer__contact {
  display: flex;
}

.footer__address {
  text-align: end;
}

.footer_social > img {
  margin: 0 10px 0 10px;
}

.footer_copyright {
  margin: 0 30px 0 30px;
  vertical-align: middle;
}

.footer__developer {
  font-size: 24px;
}

/*#endregion footer*/

/*#region our-services*/
.our-services-content {
  background-color: var(--work-step-bg);
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 20px;
}

.our-services-content__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-services-content__item > img {
  width: 150px;
  height: 150px;
  margin: auto;
}

.our-services-container {
}

/*#endregion our-services*/

/*#region how-we-work*/
.how-we-work-content {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--work-step-bg);
  justify-content: center;
  border-radius: 30px;
}

.how-we-work-container .desktop-title {
  display: inline-flex;
}

.how-we-work-container__item {

}

.how-we-work-container__step {
  background-color: var(--work-step);
}

/*#endregion how-we-work*/

/*#region how-find-us*/
.how-find-us-container {
  line-height: 29px;
  margin-top: 50px;
}

.how-find-us-container__contacts {
  width: 220px;
}

.how-find-us-container__schedule {
  width: 230px
}
/*#endregion how-find-us*/

/*#region carousel*/
.owl-stage-outer {
  margin-bottom: 120px;
}
.carousel__item {
  flex-wrap: wrap;
  display: flex;
}
.carousel__image {
  flex-grow: 0;
  height: 340px;
  background-image: url('./public/images/Slider_img.png');
  border-radius: 30px;
  background-size: cover;
}

.owl-dot {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  color: var(--owl-dot);
  height: 126px !important;
  width: 126px !important;
  background-color: var(--pagination-circle);
  border-radius: 50% !important;
  font-size: 36px !important;
}

.owl-dot:not(:last-child) {
  margin-right: 62px;
}

.owl-dot--active {
  color: var(--white);
  background: var(--green-light);
}
/*#endregion carousel*/

.mapouter {
  position: relative;
  text-align: right;
  height: 328px;
  width: 100% !important;
}

.mapouter iframe {
  width: 100% !important;
  border-radius: 20px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 451px;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }
}

.swing {
  -webkit-animation: swing 2s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.carousel-cell:before {
  content: none !important;
}

/*#region util*/

/*util style for layout*/
.mt-35 {
  margin-top: 350px;
}

.mr-6 {
  margin-right: 60px;
}

.mt-6 {
  margin-top: 60px;
}

.pt-12 {
  padding-top: 120px;
}

.pt-8 {
  padding-top: 80px;
}

.mt-22 {
  margin-top: 220px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-14 {
  margin-top: 140px;
}

.pb-15 {
  padding-bottom: 150px;
}

.fs-24 {
  font-size: 24px;
}

.fw-800 {
  font-weight: 800;
}

.uppercase_text {
  text-transform: uppercase;
}

/*util style for link*/
.tel-link, .tel-link:hover {
  text-decoration: unset;
  color: inherit;
}

/*util style for button*/
.btn-main {
  padding: 10px 30px !important;
  color: var(--white) !important;
  border: 2px solid green !important;
  border-radius: 40px !important;
}

/*#endregion util*/

/*#region spinner*/
.loader-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(30, 24, 24, 0.9);
  z-index: 2000;
  overflow: hidden;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: auto auto;
  top: 50%;
  z-index: 100;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid var(--green-light);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*#endregion spinner*/
