:root {
  --black: #1F1F1F;
  --green: #259136;
  --green-light: #2EC046;
  --white: #FFFFFF;
  --icon-bg: #6D6D6D;
  --icon-bg-hover: #2EC046;
  --pagination-circle: rgba(255, 255, 255, 0.5);
  --work-step-bg: rgba(255, 255, 255, 0.1);
  --work-step: rgba(255, 255, 255, 0.5);
}

body {
  color: var(--white) !important;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(90deg, #455A64 0.01%, rgba(31, 31, 31, 0.85) 99.99%, rgba(255, 255, 255, 0) 100%);
}

/*#region section*/

.section {
  /*background: linear-gradient(90deg, #455A64 0.01%, rgba(31, 31, 31, 0.85) 99.99%, rgba(255, 255, 255, 0) 100%);*/
}

.section-title {
  font-weight: 800;
  font-size: 72px;
  line-height: 90px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.section-title_green {
  color: var(--green-light);
}

.section-title-underline {
  border-bottom: 4px solid var(--white);
}

.section-content {
  display: flex;
}

/*#endregion section*/

/*#region presentation-section*/
.presentation-section {
  background-image: url("public/images/BG 1.png");
  padding-bottom: 260px;
}

.presentation-section-container {
  max-width: 1480px;
  margin: auto
}

.presentation-section__logo {
  padding-top: 50px;
}

.presentation-section__contacts {
  flex-direction: column;
}

.presentation-section__btn {
  margin-top: 90px;
}

/*#endregion presentation-section*/

.icon:hover {
  filter: invert(65%) sepia(14%) saturate(4629%) hue-rotate(81deg) brightness(97%) contrast(72%);
}

.contact-info {

}

.social {

}

/*#region footer*/
.footer {
  background-color: var(--black);
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.footer__contact {
  display: flex;
}

.footer__address {
  text-align: end;
}

.footer_social > img {
  margin: 0 10px 0 10px;
}

.footer_copyright {
  margin: 0 30px 0 30px;
  vertical-align: middle;
}

.footer__developer {
  font-size: 24px;
}
/*#endregion footer*/

/*#region our-services*/
.our-services-content {
  background-color: var(--work-step);
  flex-wrap: wrap;
  min-height: 330px;
}

.our-services-content__item {
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-services-container {
    max-width: 1480px;
}
/*#endregion our-services*/

/*#region how-we-work*/
.how-we-work-content {
  background-color: var(--work-step);
  flex-wrap: wrap;
  min-height: 330px;
}

.how-we-work-container {
  background-color: var(--work-step);
  flex-wrap: wrap;
  min-height: 330px;
  display: flex;
  justify-content: center;
}

.how-we-work-container__item {

}

.how-we-work-container__step {
  background-color: var(--work-step);
}
/*#endregion how-we-work*/

.circle {
  height: 126px;
  width: 126px;
  background-color: var(--pagination-circle);
  border-radius: 50%;
  display: inline-block;
}

.circle__text {
  font-size: 36px;
}

.mapouter{
  position: relative;
  text-align: right;
  height: 328px;
  width: 100% !important;
}

.mapouter iframe {
  width: 100% !important;
}

.gmap_canvas {
  overflow: hidden;
  background: none!important;
  height: 451px;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
  }
}

.swing {
  -webkit-animation: swing 2s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes swing {
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.carousel-cell:before {
  content: none !important;
}

/*#region util*/

/*util style for layout*/
.mt-35 {
    margin-top: 350px;
}

.mr-6 {
    margin-right: 60px;
}

.mt-6 {
    margin-top: 60px;
}

.pt-12 {
    padding-top: 120px;
}

.pt-8 {
    padding-top: 80px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-14 {
    margin-top: 140px;
}

.pb-15 {
    padding-bottom: 150px;
}

.fs-24 {
    font-size: 24px;
}

.fw-800 {
    font-weight: 800;
}

.capitalize_text {
  text-transform: capitalize;
}

 /*util style for link*/
.tel-link, .tel-link:hover {
   text-decoration: unset;
   color: inherit;
 }

/*util style for button*/
.btn {
    padding: 10px 30px !important;
    color: var(--white) !important;
    border: 2px solid green !important;
    border-radius: 40px !important;
}
/*#endregion util*/
