:root {
  --black: #1F1F1F;
  --green: #259136;
  --green-light: #2EC046;
  --white: #FFFFFF;
  --icon-bg: #6D6D6D;
  --icon-bg-hover: #2EC046;
  --pagination-circle: rgba(255, 255, 255, 0.5);
  --work-step-bg: rgba(255, 255, 255, 0.1);
  --work-step: rgba(255, 255, 255, 0.5);
}

.mt-35 {
  margin-top: 350px;
}

.mr-6 {
  margin-right: 60px;
}

.mt-6 {
  margin-top: 60px;
}

.pt-12 {
  padding-top: 120px;
}

.pt-8 {
  padding-top: 80px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-14 {
  margin-top: 140px;
}

.pb-15 {
  padding-bottom: 150px;
}

.fs-24 {
  font-size: 24px;
}

.fw-800 {
  font-weight: 800;
}

body {
  color: var(--white) !important;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #455A64 0.01%, rgba(31, 31, 31, 0.85) 99.99%, rgba(255, 255, 255, 0) 100%);
}

.btn {
  padding: 10px 30px !important;
  color: var(--white) !important;
  border: 2px solid green !important;
  border-radius: 40px !important;
}

.section {
  /*background: linear-gradient(90deg, #455A64 0.01%, rgba(31, 31, 31, 0.85) 99.99%, rgba(255, 255, 255, 0) 100%);*/
}

.presentation-section {
  background-image: url("media/images/BG 1.png");
  padding-bottom: 260px;
}

.presentation-section__logo {
  padding-top: 50px;
}

.presentation-section__contacts {
  flex-direction: column;
}

.presentation-section__btn {
  margin-top: 90px;
}

.section-title {
  font-weight: 800;
  font-size: 72px;
  line-height: 90px;
  margin-bottom: 0px;
}

.section-title_green {
  color: var(--green-light);
}

.section-title-underline {
  border-bottom: 4px solid var(--white);
}

.section-content {
  display: flex;
}

.icon:hover {
  filter: invert(65%) sepia(14%) saturate(4629%) hue-rotate(81deg) brightness(97%) contrast(72%);
}

.contact-info {

}

.social {

}

.footer {
  background-color: var(--black);
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.footer__contact {
  display: flex;
}

.footer__address {
  text-align: end;
}

.footer_social > img {
  margin: 0 10px 0 10px;
}

.footer_copyright {
  margin: 0 30px 0 30px;
  vertical-align: middle;
}

.footer__developer {
  font-size: 24px;
}

.how-we-work-content {
  background-color: var(--work-step);
  flex-wrap: wrap;
  min-height: 330px;
}

.how-we-work-container {
  background-color: var(--work-step);
  flex-wrap: wrap;
  min-height: 330px;
}

.how-we-work-container__step {
  background-color: var(--work-step);
}

.our-services-container {
  max-width: 1480px;
}

.title-hr {
  margin-bottom: 0;
  border-top: 3px solid red;
}

.circle {
  height: 126px;
  width: 126px;
  background-color: var(--pagination-circle);
  border-radius: 50%;
  display: inline-block;
}

.circle__text {
  font-size: 36px;
}

.mapouter {
  width: auto !important;
}

@media (max-width: 670px) {
  .section-title {
    font-size: 25px;
  }
}
