.owl-stage-outer {
  margin-bottom: 80px;
}
.carousel__item {
  flex-wrap: wrap;
  display: flex;
}
.carousel__image {
  flex-grow: 0;
  height: 340px;
  background-image: url('../public/images/Slider_img.png');
  border-radius: 30px;
  background-size: cover;
  object-fit: cover;
}

.owl-dot {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  color: var(--owl-dot);
  height: 126px !important;
  width: 126px !important;
  background-color: var(--pagination-circle);
  border-radius: 50% !important;
  font-size: 36px !important;
}

.owl-dot:not(:last-child) {
  margin-right: 62px;
}

.owl-dot--active {
  color: var(--white);
  background: var(--green-light);
}

.carousel-cell:before {
  content: none !important;
}

@media (max-width: 991px) {
  .owl-dot {
    height: 46px !important;
    width: 46px !important;
    font-size: 26px !important;
  }
}
