.how-find-us-container {
    line-height: 29px;
    margin-top: 50px;
}

.how-find-us-container__contacts {
    width: 220px;
}

.how-find-us-container__schedule {
    width: 230px
}

.how-find-us-container__video {
    border-radius: 20px;
}
