:root {
  --black: #1F1F1F;
  --green: #259136;
  --green-light: #2EC046;
  --white: #FFFFFF;
  --icon-bg: #6D6D6D;
  --icon-bg-hover: #2EC046;
  --pagination-circle: rgba(255, 255, 255, 0.5);
  --work-step-bg: rgba(255, 255, 255, 0.1);
  --work-step: rgba(255, 255, 255, 0.5);
  --owl-dot: rgba(0, 0, 0, 0.5);
}

body {
  color: var(--white) !important;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: var(--green) !important;
  /*background: linear-gradient(90deg, #455A64 0.01%, rgba(31, 31, 31, 0.85) 99.99%, rgba(255, 255, 255, 0) 100%);*/
}

.icon {
  width: 40px;
  margin-left: 8px;
}

.icon:hover {
  filter: invert(65%) sepia(14%) saturate(4629%) hue-rotate(81deg) brightness(97%) contrast(72%);
}

.how-we-work-content__item {
  filter: invert(50%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 300px;
  transition: width 1s;
}

.how-we-work-content__item:hover {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  width: 350px;
}
